body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root .ui.form .field>label {
  color: inherit;
}

#root input[type=radio] {
  margin: 3px;
}

.carbon-bg {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.grid-bg {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #111 1px, transparent 1px),
    linear-gradient(to bottom, #111 1px, transparent 1px)
    ;
}
